<div class="app-container">
  <mat-toolbar color="accent" class="app-toolbar">
      <mat-toolbar-row>
          <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
          <a routerLink="" class="app-app-name"><h1 >{{title}}</h1></a>
          <span class="example-spacer"></span>
          <a routerLink="basket"><mat-icon class="basket-icon">shopping_cart</mat-icon>&nbsp;&nbsp;&nbsp;({{getItemsCount()}}) </a>
        </mat-toolbar-row>

  </mat-toolbar>

  <mat-sidenav-container class="app-sidenav-container">
    <mat-sidenav #snav  fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item routerLink=""   (click)="snav.toggle()"><mat-icon>home</mat-icon>Home</a>
        <a mat-list-item routerLink="products"  routerLinkActive="active-link bg-info" (click)="snav.toggle()"><mat-icon>view_module</mat-icon>Products</a>
        <a mat-list-item routerLink="basket"  routerLinkActive="active-link bg-info" (click)="snav.toggle()"><mat-icon>shopping_cart</mat-icon>Basket</a>
        <a mat-list-item routerLink="privacy"  routerLinkActive="active-link bg-info" (click)="snav.toggle()"><mat-icon>person_pin_circle</mat-icon>Privacy Policy</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

